@charset "UTF-8";

*{ 
    height: 100%;
}/*Config global das CSS*/
body{
    background-image: linear-gradient(to right, #3198E2, #6D59C0, #B93590, #E33F5F, #FDD579);
    background-attachment: fixed;
}